<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Subtitle</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	 
	    <div th:replace="fragments/header :: header-js-css-core"/>
	    
	 	<script src="/js/dropzone.js"></script>
        <link rel="stylesheet" href="/css/basic.css">
        <link rel="stylesheet" href="/css/dropzone.css">
       
       	<script src="/js/modul-create.js"></script>
        <link rel="stylesheet" href="/css/create.css">
       
        
    </head>
    <body class="h-100">
    
    <main role="main" class="container">
        
         <div class="row justify-content-center">
	    
	    	<div class="col-8">
		        <form id="metadata" action="/api/v1/create/start">
		          <input type="hidden" name="id" th:value="${bucket}">
				  <div class="form-group">
				    <input type="email" class="form-control" name="title" placeholder="Enter Title">
				  </div>
				  <div class="form-group">
					 <textarea class="form-control" name="description" rows="3" placeholder="Enter Description"></textarea>
  				  </div>
				</form>
			</div>
	    </div>
	  
	    <div class="row justify-content-center">
	        <div id="dropzone" class="col-8">
		    	<form action="/api/v1/create/upload" class="dropzone needsclick" id="dropzone">
		          <input type="hidden" name="bucketId" th:value="${bucket}"/>
		          
				  <div class="dz-message needsclick">
				    Drop files here or click to upload.
				  </div>
				 </form>
			</div>
	    </div>
	   
	    <div class="row justify-content-center">
	    
	        <div id="process" class="col-8">
		    	<button class="process btn btn-primary" th:data-bucket="${bucket}">Process</button>
			</div>
	    </div>
	    
	    
    </main>
    
       
		      
		      
    </body>

</html>
