<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>subtítulo</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	 
	    <div th:replace="fragments/header :: header-js-css-core"/>
	   
	    <script src="/js/card.class.js"></script>
	    <link rel="stylesheet" href="/css/play.css">
       
        
    </head>
    <body>
    
    
    
    <header th:replace="fragments/header :: header-fixed-header"/>
    
   
   <main role="main">
  		<div class="container">     
          
			<div class="row">
		        <div class="col-md-8 offset-md-2 wrapper">
				      
				       <div class="card">
							  <div class="card-body">
								  <div class="tx-box"></div>
								  <div class="tr-box"></div>
							  </div>
							  
							  <div>
							  	<span class="statistic"></span>
							  	<span class="time"></span>
							  </div>
	  						  <div>
									<button type="button" class="btn btn-lg btn-success play-command play-command-next" th:text="#{play.next}"></button>
									<button type="button" class="btn btn-lg btn-success play-command play-command-show" th:text="#{play.show}"></button>
				              </div>
				            
				       </div>
				      
				</div>
			</div>
		
		</div>
	</main>
	
	<footer th:replace="fragments/header :: header-fixed-footer"/>

	
    <script>
    
		$( document ).ready(function() {
		    console.log( "ready!" );
		
		    var bucketId = '[[${bucketId}]]';
		    var language = '[[${#locale}]]';
		    
		    console.log("language="+language);
		    var cardManager = new CardManager(language,bucketId);
		    
			$.ajax({
	           url: "/api/v1/dataset/" + bucketId,
	           context : this,
	    	}).then(function(dataset) {
			      cardManager.setDataset(dataset);
			      cardManager.build();
			});
		    
		});
	</script>
	
    </body>

</html>
