<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>subtítulo</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	 
	    <div th:replace="fragments/header :: header-js-css-core"/>
	    
	    <script src="/js/database.class.js"></script>
	    
	    <link rel="stylesheet" href="/css/searchbar.css">
	    <link rel="stylesheet" href="/css/eventlist.css">
	    
       <style>
       .jumbotron{
             color: #fff;
			 background-image: url('/css/tv.png');
			 background-size: cover;
			 background-repeat: no-repeat;
		}
        .jumbotron > .container {
        	padding-top:60px;
        }
        main > .container {
		          padding-top: 20px !important;  
		}
        </style>
        
    </head>
    <body>
    
    <header th:replace="fragments/header :: header-fixed-header"/>
        
    <script id="entry-template" type="text/x-handlebars-template">
  		<li>
				<img alt="Independence Day" src="{{image}}" />
				<div class="info">
					<h2 class="title">{{title}}</h2>
					<p class="desc">{{description}}</p>
					<ul>
							<li style="width:60%;">{{ix}}/{{count}}&nbsp;({{percent}}%)</i></li>
							<li style="width:25%;">
								<img src="/css/blank.gif" class="flag flag-{{lang0}}">
							    <img src="/css/blank.gif" class="flag flag-{{lang1}}">
							</li>
							<li class="play" style="width:15%;"><a href="{{link}}"><span class="fa fa-play"></span></a></li>
					</ul>
				</div>
				<!--
				<div class="social">
					<ul>
						<li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
						<li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
						<li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
					</ul>
				</div>
				-->
		</li>
    </script>
    
   
	<main role="main">
	<div class="jumbotron jumbotron-fluid">
		  <div class="container">
		    <h1 class="display-4">subtítulo</h1>
		    <p class="lead" th:text="#{welcome.lead}"></p>
		  </div>
	</div>
  		
  		<div class="container">    
  		
  	
  		
  		        
  		        <!-- 
		      	<div class="row justify-content-md-center searchbar">
			        <div class="col col-lg-8">
				        <div class="input-group">
			                <input class="form-control border-secondary py-2" type="search" value="search">
			                <div class="input-group-append">
			                    <button class="btn btn-outline-secondary" type="button">
			                        <i class="fa fa-search"></i>
			                    </button>
			                </div>
			            </div>
			        </div>
		        </div>
		        -->
		        
		        
				<div class="row justify-content-md-center">
			        <div class="col col-lg-8">
						<ul class="event-list">
							
						</ul>
					</div>
				</div>
		
		</div>
	</main>
	

	
	<!-- Modal -->
    <div class="modal fade" id="nativelanguage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" th:text="#{nativelanguage}"></h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	          <div>
				<a class="select-nativelanguage" th:href="@{''(lang=de)}"><img src="/css/blank.gif" class="flag flag-de"> Meine Muttersprache ist Deutsch</a>
			  </div>
	          <div>			  
		        <a class="select-nativelanguage" th:href="@{''(lang=en)}"><img src="/css/blank.gif" class="flag flag-us"> My native language is English.</a>
			  </div>
	          <div>			  
		        <a class="select-nativelanguage" th:href="@{''(lang=es)}"><img src="/css/blank.gif" class="flag flag-es"> Mi idioma nativo es el espa&ntilde;ol.</a>
			  </div>
	      </div>
	     
	    </div>
	  </div>
	</div>
	
	
	
	<footer th:replace="fragments/header :: header-fixed-footer"/>
	
    <script>
    
		$( document ).ready(function() {
		
		    var database = new Database();
		     
		     
		     
		    urlParam = function(url,name) {
			    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(url);
			    if (results==null) {
			       return null;
			    }
			    return decodeURI(results[1]) || 0;
			}
		     
		     
		    var language = urlParam(window.location.href,"lang");
		    if(language)
		    {
		      var config = {
	             language : language
              };
   			  database.write("configuration",config);
		    }
	 
		    
		    toFlag = function(lang) {
		    	switch(lang)
		    	{
		    	case 'en':
		    		return 'us';
		        default:
		            return lang;
		    	}
		    }
		    
		    var source   = document.getElementById("entry-template").innerHTML;
			var template = Handlebars.compile(source);
			
			$.ajax({
	           url: "/api/v1/datasets",
	           context : this,
	    	}).then(function(dataset) {
			   console.log(dataset);
			   $.each( dataset, function( key, value ) {
			   
			       var data = database.read(value.id);
			       var dataStr = localStorage.getItem(value.id);
			       var percent = 0;
			       var ix = 0;
			       
				   if(data)
				   {
				        ix = data.ix + 1;
				   }
			   
			   	   percent = parseInt(100 * ix / value.count);
			   
			       var context = { 
			      			title: value.title, 
			      		    description: value.description, 
			      			image: value.image,
			      			lang0 : toFlag(value.languages[0]),
			      			lang1 : toFlag(value.languages[1]),
			      			ix: ix,
			      			count: value.count,
			      			percent : percent,
			      			link: '/play/'+value.id
			      };
			      var html    = template(context);
		          $(".event-list").append(html);
			   });
			});
		    
		    var config = database.read("configuration");
		    if(config == undefined)
		    {
		    	$('#nativelanguage').modal('show');
		    }
		    
		});
	</script>
	
    </body>

</html>
